.center-overlay{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color:rgba(255,255,255,.95);
    min-width: 75%;
    border: lightgray solid 3pt;
    border-radius: 10pt;
    padding: 20pt;
}

.code {
    font-family: monospace;
    margin: 30pt;
    word-break: break-all;
}